html{
	height: 100%;
	width: 100%;
	margin: 0;
	}

body{
	position: relative;

	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;

	margin: 0;
	height: 100%;
	width: 100%;
}

header{
	position: relative;

	display: flex;

	width: 100%;

	color: #949494;
	background: #7D7D7D;

	flex: 0.8;
}

#hed{
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;
	position: relative;

	margin-top: 0px;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 0px;

	width: 100%;
	height: 100%;
}

#hed button{
	display: flex;
	align-items: center;
	justify-content: center;

	box-sizing: border-box;

	color: white;
	border-color: #575757;
	text-decoration: none;

	margin-left: 3px;
	margin-right: 3px;

	width: 10%;
	height: 90%;

	border-radius: 8px;

	font-size: 100%;

	outline: none;
}

#hed button:active{
	transform: scale(0.99,0.99);
	border: none;
}

#fileopen-btn{
	background: #FF4D4D;

	border: solid 3px;
}

#run-btn{
	background: #AE59E3;

	border: solid 3px;
}

#userinfo-btn{
	background: #2176DE;

	border: solid 3px;
}

#parent{
	position: relative;

	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	
	width: 100%;

	background: #575757;

	flex: 9.2;
}

#left-side{
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;

	box-sizing: border-box;

	height: 98%;

	border-right: solid 2px;

	color: #A1A1A1;

	flex: 1;
}

#ex_name_tb{
	display: flex;
	align-items: center;
	justify-content: center;

	box-sizing: border-box;

	width: 60%;

	margin-top: 0px;
	margin-bottom: 0.8%;

	border-radius: 30px;
	background: #B5B5B5;

	flex: 0.5;
}

#ex_name{
	display: flex;
	align-items: center;
	justify-content: center;

	text-align: center;

	box-sizing: border-box;

	width: 90%;
	height: 90%;

	background: #B5B5B5;

	border: none;

	outline: none;

	color: black;

	font-family: arial; 
	font-size: 100%;
}

#circuit_image{
	display: flex;
	align-items: center;
	justify-content: center;

	box-sizing: border-box;

	width: 95%;
	height: 100%;

	border: none;
	border-radius: 5px;

	margin-bottom: 3px;

	background: white;
	flex: 6;
}

#circuit_image img{
	box-sizing: border-box;

	width: 95%;
	height: 100%;

	border-radius: 10px;
}

#comment{
	display: flex;

	align-items: center;
	justify-content: center;

	box-sizing: border-box;

	width: 95%;

	border: none;
	border-radius: 10px;
	background: #FFFFFF;

	flex: 3.5;
}

#com{
	display: flex;

	align-items: center;
	justify-content: center;

	box-sizing: border-box;

	width: auto;
	height: 90%;

	border: none;
	background: #FFFFFF;

	outline: none;
	resize: none;

	font-family: arial; 
	font-size: 100%;
}

#right-side{
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;

	box-sizing: border-box;

	height: 98%;

	border: none;

	flex: 1; 
}

#special_box{
	display: flex;
	
	align-items: center;
	justify-content: center;

	box-sizing: border-box;

	text-align: center;

	width: 98%;

	margin-top: 5px;
	margin-bottom: 5px;

	border-radius: 5px;

	background: #2DC8E3;

	color: white;

	flex: 2;
}

#formula_box{
	display: flex;
	
	flex-direction: row;
	align-items: flex-start;


	box-sizing: border-box;

	width: 95%;

	margin-top: 5px;
	margin-bottom: 5px;

	border-radius: 5px;

	background: #575757;

	flex: 5;
}

#formula_text{
	display: flex;
	align-items: center;
	justify-content: center;

	box-sizing: border-box;

	width: 95%;
	height: 10%;

	margin-top: 5px;
	margin-bottom: 0px;

	border: none;
	background: #FAFF78;

	outline: none;

	border: 0px;
	border-radius: 10px 0px 0px 10px;
}

#formula{
	display: flex;
	align-items: center;
	justify-content: center;
	box-sizing: border-box;

	text-align: flex-start;

	width: 95%;
	height: 90%;

	margin-top: 0px;
	margin-bottom: 0px;
	margin-left: 0px;

	border: none;
	background: #FAFF78;

	outline: none;

	font-family: New Gulim; 
	font-size: 100%;
}

#formula_box button{
	display: flex;
	align-items: center;
	justify-content: center;

	box-sizing: border-box;

	background: #FA9A39;
	color: white;
	text-decoration: none;

	margin-top: 5px;
	margin-bottom: 0px;
	margin-left: 3px;
	margin-right: 0px;

	width: 10%;
	height: 10%;

	border: 0;
	border-radius: 0px 10px 10px 0px;

	font-size: 100%;

	outline: none;
}

#formula_box button:active{
	transform: scale(0.95,0.95);
}

#element_box{
	display: flex;

	box-sizing: border-box;

	width: 95%;

	margin-top: 5px;
	margin-bottom: 5px;

	border-radius: 5px;

	background: #7EE07E;

	flex: 3;
}