<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<link href="/css/learn.css" th:href="@{/css/learn.css}" rel="stylesheet"></link>
	<title>
		CS1_Learn
	</title>
</head>
<body>
	<header>
		<div id="hed">
			<button id="fileopen-btn" onclick='formula();'>OPEN</button>
			<button id="run-btn">RUN</button>
			<button id="userinfo-btn">INFO</button>
		</div>
	</header>
		<form method="post" id="parent">
		<div id="left-side">
			<div id="ex_name_tb">
				<div id="ex_name">Example1</div>
			</div>
			<div id="circuit_image">
				<img src="ex_ci.png" alt="circuit" title="circuit">
			</div>
			<div id="comment">
				<div id="com">comment</div>
			</div>
		</div>
		<div id="right-side">
			<div id="special_box">
				学習モードでおま
			</div>
			
			<div id="formula_box">
				<div id="formula_text">
				<div id="formula">Formula</div>
				</div>
				<button id="formula_go_btn">Go</button>
			</div>
			<div id="element_box">
			</div>
		</div>
	</form>
	<script src="/js/learn.js" th:src="@{/js/learn.js}"></script>
</body>
</html>